<head>
<title>Sign In</title>
<style>
      label {
        display: inline-block;
        width: 130px;
      }
      

</style>
</head>

<body>
<div class="container">
  <h1>Sign In</h1>
</div>

<div class="blue">

  <form action="/user_verify_credentials" method="post" class="tab" >
    
    <div>
      <label for="email_box">Username</label>
      
      <input id="email_box" name="query_email" placeholder="Enter your username..." type="text">
    </div>
    
    <div>
      <label for="password_box">Password</label>
      <input id="password_box" name="query_password" placeholder="Enter your password..." type="password">
    </div>
    <br>
    
    <button>
      Sign in
    </button>
  </form>

</div>
<hr>

<p>
  Or, <a href="/user_sign_up">Sign up</a> instead.
</p>
</body>